<%- include('partials/header.ejs') %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Here is our campgroud list</h1>
            <p>The Best Camp Site Picka around the worlds</p>
            <a class="btn btn-primary btn-lg my-1" href="/campgrounds/add">Add Campground</a>
        </div>
    </header>
    <div class="row flex">
        <% campgrounds.forEach( camp => { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="<%= camp.image %>" alt="">
                    <div class="caption">
                        <h4>
                            <%= camp.name %>
                        </h4>
                        <h6>Submmited by <%= camp.author.username %></h6>
                    </div>
                    <a href="/campgrounds/<%= camp._id%>" class="btn btn-success">
                        More Info
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<%- include('partials/footer.ejs') %>